/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* CSS Variables */
:root {
  --background-primary: $background-primary--dark;
  --background-secondary: $background-secondary--dark;
  --text-primary: $text-primary--dark;
  --text-secondary: $text-secondary--darkÒ;
}

body {
  background: var(--background-primary);
  max-width: 100vw;
  overflow-x: hidden;
}
  
a {
  text-decoration: none;
  color: var(--text-primary);
}

.main {
  margin-right: 50px;
  margin-left: 50px;
}