$font-primary: 'Inter', sans-serif;

$tertiary-color: #f9a83a;

$background-primary--light: #ffffff;
$background-secondary--light: #4d97ff;
$text-primary--light: #ffffff;
$text-secondary--light: #292929;

$background-primary--dark: #1A1A1A;
$background-secondary--dark: #292929;
$text-primary--dark: #ffffff;
$text-secondary--dark: #d1d1d1;